.left-Panel{
    display: flex;
    gap: 3rem;
    padding: 3rem;
    flex-direction: column;
}
.heading{ 
    width:100%;
    border-top: 3px solid white;
    border-bottom: 2px solid white;
    white-space: pre;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'warasgard';
    font-variant: small-caps;
    font-stretch: expanded;
}
.description{
    text-align: justify;
    font-size: larger;
    line-height: 1.8rem;
}
.burgerImages {
    display: flex;
    align-items: center;
    margin: 2rem;
    /* position: relative; */
    justify-content: space-evenly;
}

.burgerImages :nth-child(1) {
    width: 50%;
}

.burgerImages :nth-child(2) {
    /* width: 50%; */
    display: flex;
    flex: 1;
    align-items: center;
    /* height: 100vh; */
}

.burgerImages :nth-child(2)>img {
    object-fit: cover;
    width: 67vh;
    height: 100vh;
    margin: 1.5vh;
    /* border: 30px solid linear-gradient(rgba(255, 166, 1, 0.925), rgba(151, 123, 32, 0.911)); */
}

.dummyImage {
    width: 70vh;
    height: 100vh;
    /* float: right; */
    position: absolute;
    z-index: 10;
    background: radial-gradient(rgba(250, 213, 3, 0) 35%, rgba(0, 0, 0, 1));
    /* border: 10px solid rgba(0, 0, 0, 0.88); */
    /* border-radius: 5vh; */
    /* background: linear-gradient(to right, red, purple); */
}

@font-face {
    font-family: "warasgard";
    src: url('./fonts/warasgard.ttf');
}