.customBurgerMenu{
    display: flex;
    /* width: 100%; */
    flex-direction: row-reverse;
}
.burgerPrepare{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    align-content: flex-end;
}
.burgerPrepare div{
    display: flex;
    align-items: flex-end;
}
.burgerPrepare .dummyImage{
    position: absolute;
    height: 470px;
    width: 350px;
    /* border: 2px solid white; */
    background: radial-gradient(rgba(250, 213, 3, 0) 10%, rgba(0, 0, 0, 1));
}
.burgerPrepare img{
    /* width: 350px; */
    height: 100%;
    object-fit: contain;
    /* align-self: flex-end; */
    /* border: 1px solid white; */
}
.ingredientTableHeading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    border: none;
}
.ingredientTable {
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    max-width: 800px;
    height: 100%;
    /* background: rgb(92, 92, 92); */
    background: url('../images/wood.jpg');
    background-size: cover;
    cursor: pointer;
}

.ingredientTable thead {
    border-bottom: 1px solid black;
}
.ingredientTable tr:hover > input[type="checkbox"]{
    
}
.ingredientTable th {
    padding: 15px;
    color: rgb(181, 201, 200);
    text-shadow: 7px 7px 3.7px #0c0c0c;
    font-size: 1.2rem;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ingredientTable td {
    padding: 10px;
    font-size: .97rem;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.ingredientTable tbody tr:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* .menuTable th:nth-child(2) {
    border-left: 5px solid rgba(0, 0, 0, 0.185);
} */

.ingredientTable td:nth-child(2) {
    border-left: 5px solid rgba(0, 0, 0, 1);
    border-right: 5px solid rgba(0, 0, 0, 1);
}

.customBurgerMenu{
    width: 5rem;
    display: flex;
    border: 2px solid pink;
}