#Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 2rem; */
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.menuItems {
    background-color: #000;
    scroll-snap-align: end;
    /* -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-points-x: repeat(300px); */
}
.leftPanel {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(224, 95, 95); */
    /* padding-top: 5%; */
}

.leftPanel .heading {
    font-family: 'Times New Roman', Times;
    border-top: none;
}

.rightPanel {
    /* width: 60vh;
    width: 100%; */
    /* height: 80vh; */
    align-items: center;
    text-align: center;
    /* background: rgb(160, 13, 13); */
}

.rightPanel :nth-child(1) {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    /* height: 40%; */
    align-items: center;
}

.selectedItemsBoard {
    /* background: rgb(148, 123, 123); */
    /* height: 60%; */
}